.carousel-block
    width: 100%
    &__img
        height: 37vw
        background:  center/cover no-repeat

.school
    max-width: 120rem
    position: relative
    height: 79rem
    margin: 0 auto
    &__square
        position: absolute
        width: 64rem
        height: 40.5rem
        left: 8rem
        top: 19rem
        border: 10px solid $color-red
        padding: 7.6rem 8rem 6.6rem 8rem
    &__title
        position: absolute
        display: block
        top: -5rem
        left: 6rem
        background: $color-white
        padding: 1rem 3rem
    &__text
        font-family: '_Circe'
        font-style: normal
        font-weight: 400
        font-size: 18px
        line-height: 140%
    &__icon
        position: absolute
        right: 0
        top: 19rem

.about
    position: relative
    max-width: 130rem
    margin: 0 auto
    &__title
        margin-bottom: 5.2rem
        text-align: center
    &__block
        padding-left: 17.5rem
        margin-bottom: 3rem
    &__link
        width: 17.5rem
        display: inline-block
        font-family: '_Circe'
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 140%
        color: $color-white
        text-align: center
        background: $color-red
        padding: 1rem 2rem
        &:not(:last-child)
            margin-right: 16.4rem
    
    &__language-block
        display: grid
        grid-template-columns: repeat(4, 1fr)
        grid-gap: 2.4rem
        margin-bottom: 10rem
    &__language
        text-align: center
    &__language-link
        color: $color-black
        transition: all 0.5s
        &:hover
            text-decoration: none
            color: $color-red

    &__table
        margin-bottom: 15rem

.exams
    max-width: 129.6rem
    margin: 0 auto
    margin-bottom: 15rem
    &__title
        text-align: center
        margin-bottom: 10rem
    &__cards
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(27.6rem, 1fr))
        grid-gap: 2.5rem 2.5rem
        justify-items: center
    
.events
    max-width: 129.6rem
    margin: 0 auto
    margin-bottom: 15rem
    &__title
        text-align: center
        margin-bottom: 10rem
    &__cards
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(41rem, 1fr))
        grid-gap: 2.5rem 2.5rem
        justify-items: center

.news
    max-width: 129.6rem
    margin: 0 auto
    margin-bottom: 15rem
    &__title
        text-align: center
        margin-bottom: 10rem
    &__cards
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(27.6rem, 1fr))
        grid-gap: 2.5rem 2.5rem
        justify-items: center