.timetable
    display: grid
    grid-template-rows: 48px repeat(4, 176px)
    grid-gap: 3rem
    width: 107.6rem
    margin: 0 auto
    @include respond(tab-port)
        width: 100%
        grid-template-rows: 48px repeat(4, min-content)
    &__title-block
        display: grid
        grid-template-columns: 18rem 30rem 1fr
        background: rgba(51, 51, 51, 0.05)
        align-items: center
    &__title
        padding-left: 2rem
        font-style: normal
        font-weight: 700
        font-size: 20px
        line-height: 140%
        margin-bottom: 0
    &__row
        display: grid
        grid-template-columns: 18rem 30rem 1fr
    &__text
        padding-left: 2rem
        font-style: normal
        font-weight: 400
        font-size: 18px
        line-height: 140%
        padding-bottom: 1.8rem
        margin-bottom: 0
        &_red
            padding: 0.5rem 0.6rem 0.3rem 0.6rem
            color: $color-white
            background: $color-red
    
    &__line
        width: 107.6rem
        @include respond(tab-port)
            width: 100vw
    
    